<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="w-full fixed top-0 left-0 px-10 py-5 md:px-[15vw]">
        <nav class="relative text-[#eeeeee]">
            <div class="flex justify-between items-center">
                <a href="/" class="text-2xl font-bold flex items-center gap-2">
                    <img src="/assets/favicon.ico" alt="Growtopia" width="35" height="35"> 
                    <span class="text-2xl font-bold">GrowPlus</span>
                </a>
                <div class="flex w-full h-full flex-row-reverse gap-5 relative">
                    <input type="checkbox" name="nav-toggler" id="nav-toggler" class="absolute right-3 top-3 transform scale-350 z-10 opacity-0 hover:cursor-pointer">
                    <button class="relative w-10 h-10 flex flex-col justify-center items-center gap-2 hover:cursor-pointer">
                        <div class="w-full h-[.2rem] bg-[#eeeeee]"></div>
                        <div class="w-full h-[.2rem] bg-[#eeeeee]"></div>
                        <div class="w-full h-[.2rem] bg-[#eeeeee]"></div>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="h-screen flex justify-center items-center flex-col">
            <div class="flex-1 w-full text-[#eeeeee] bg-gradient-to-br from-blue-950 to-[#2b4d6d]">
                
            </div>
        </section>
    </main>
</body>
</html>